.images {
  border: 3px solid black;
  width: 500px;
  position: relative;
  left: 380px;
  bottom: 315px;
}

#carTables {
  border: 2px solid black;
}

.rating {
  position: relative;
  left: 380px;
  bottom: 330px;
}

.changeRating {
  position: relative;
  left: 480px;
  bottom: 367px;
}
